.anydate {
    position: absolute;
    z-index: 600;
    height: 190px;
    width: 200px;
    border: 0;
    font-size: 12px;
    color: #333;
    background: #fff;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.2) 0 1px 4px;
}

.anydate .reset-time {
    position: absolute;
    left: 100%;
    top: 3px;
    margin-left: 2px;
    width: 12px;
    line-height: 12px;
    height: 12px;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}

.anydate .reset-time:hover {
    opacity: .8;
}

.anydate .anydate-head {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anydate .anydate-head .prev, .anydate .anydate-head .next {
    height: 0;
    width: 0;
    border: transparent 5px solid;
    opacity: .7;
    cursor: pointer;
    padding: 0 5px;
}

.anydate .anydate-head .prev.dis, .anydate .anydate-head .next.dis {
    opacity: .3;
    pointer-events: none;
}

.anydate .anydate-head .prev:hover, .anydate .anydate-head .next:hover {
    opacity: 1;
}

.anydate .anydate-head .prev {
    border-left: 0;
    border-right-color: #000;
}

.anydate .anydate-head .title {
    font-size: 13px;
    cursor: pointer;
    transition: .2s;
}

.anydate .anydate-head .title:hover {
    color: #2196F3;
}

.anydate .anydate-head .next {
    border-left-color: #000;
    border-right: 0;
}

.anydate .anydate-body {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.anydate .box {
    position: absolute;
    left: 2px;
    width: 196px;
    top: 2px;
    height: 126px;
    background: #fff;
    transition: .3s linear;
    transform: scale(1);
    opacity: 1;
}

.anydate .box.scale2 {
    transform: scale(2);
    opacity: 0;
}

.anydate .box.scale0 {
    transform: scale(0);
    opacity: 0;
}

.anydate .box.right {
    left: 202px;
}

.anydate .box.left {
    left: -202px;
}

.anydate .date-grid {
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: 1px solid transparent;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.anydate .date-grid div {
    width: 100%;
}

.anydate .date-grid.decade div {
    text-align: left;
    padding-left: 6px;
}

.anydate .date-grid.cell4 {
    height: 42px;
    width: 49px;
    padding: 0;
    text-align: center;
}

.anydate .date-grid.cell7 {
    line-height: 16px;
    height: 18px;
    width: 28px;
    padding: 0 8px 0 0px;
    text-align: right;
}

.anydate .date-grid._today {
    border: 1px solid #ccc;
}

.anydate .date-grid:hover,.anydate .date-grid.active {
    border-color: rgb(195, 226, 230);
    color: #3F51B5;
    background: linear-gradient(rgba(0, 188, 212, 0.05),rgba(0, 188, 212, 0.1));
}

.anydate .date-grid.active {
    outline: dotted 1px #71ddea;
    outline-offset: -3px;
}

.date-grid.week {
    border: 0!important;
    background: none!important;
    cursor: auto!important;
    color: #000!important;
    border-bottom: 1px dotted #ddd!important;
}

.anydate .date-grid.other {
    opacity: 0.5;
}

.anydate .date-grid.disable {
    color: transparent;
    pointer-events: none;
    background: none;
}

.anydate .date-grid:hover {
}

.anydate .anydate-foot {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    background: #f7f7f7;
    height: 28px;
}

.anydate .anydate-foot input {
    border: 0;
    width: 16px;
    margin-right: 3px;
    outline: none;
    text-align: right;
    background: transparent;
    font-family: fantasy;
    color: #546E7A;
}

.anydate-foot .time-box {
    position: relative;
    padding: 0 0 0 5px;
}

.anydate-foot .today {
    position: relative;
    margin: 0 7px;
    padding: 1px 7px;
    color: #fff;
    border-radius: 2px;
    line-height: 17px;
    background: #03A9F4;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0) 0 0 2px;
    transition: .3s ease-in-out;
}

.anydate-foot .today.display {
    background: #9E9E9E;
    cursor: auto;
    pointer-events: none;
}

.anydate-foot .today:hover {
    background: #26C6DA;
    box-shadow: rgba(56, 56, 56, 0.4) 0 1px 3px;
}
